{% extends 'base.html' %}
{% block content %}
<style>
    .col-md-4 img {
        width: 100%;
        height: 100%;
    }

    .card-text a {
        text-decoration: none;
    }
</style>
<br><br><br><br>
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-4" style="max-height: 400px;">
                <img src="{{movie.movie_image.url}}" alt="{{movie.name}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{movie.name}}</h2>
                    <p class="card-text">{{movie.year_of_release}}
                        <!-- <b>&#183;</b> {{movie.movie_time}}-->
                    </p>
                    <p class="card-text"><b>Description:</b> {{movie.description}}</p>
                    <p class="card-text"><b>Genre:</b> {{movie.genre|title}}</p>
                    <p class="card-text"><b>Cast:</b> {{movie.cast}}</p>
                    <p class="card-text"><b>Rating:</b> {{movie.rating}}/5.0</p>
                    <p class="card-text"><b>Director(s):</b> {{movie.director}}</p>
                    <p class="card-text"><a href="{{movie.link}}" target="_blank"><small class="text">Watch now!</small></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}