{% extends 'base.html' %}
{% block content %}
<style>
    .col-lg-3 {
        margin-top: 10px;
    }

    .card img {
        max-width: 100%;
        height: 170px;
    }

    .container {
        padding-top: 10px;
    }
</style>
<div class="container">
    <h1>Romance Movies</h1>
    <div class="row">
        {% for movie in all_romance_movies_list %}
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100">
                <img src="{{ movie.preview_image.url }}" class="card-img-top" alt="{{movie.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{movie.name}}</h5>
                    <p class="card-text"><small>{{movie.description}}</small></p>
                </div>
                <div class="card-footer">
                    <small class="text"><a href="{% url 'movie-details' movie.id %}">Details & more <i
                                class="fas fa-location-arrow"></i></a></small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}