{% extends 'base.html' %}
{% block content %}

<br>
<div class="container">
    {% if submitbutton == 'Search' and request.GET.q != "" %}
    {% if results %}
    <div class="row">
        {% for result in results %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card h-100">
                <img src="{{ result.preview_image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{result.name}}</h5>
                    <p class="card-text"><small>{{result.description}}</small></p>
                </div>
                <div class="card-footer">
                    <small class="text"><a href="{% url 'movie-details' result.id %}">Details & more <i
                                class="fas fa-location-arrow"></i></a></small>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <span style="color: white;">
            <br>
            <h1>Sorry, we couldn't find any such movie.</h1>
        </span>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}